@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:lightblue;
}

header {
    background: black;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding:  0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header img {
    width: 150px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: white;
    font-weight: bolder;
    margin-left: 40px;
    margin-bottom: 30px;
    text-decoration: none;
}
.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    height: 40px;
    border-radius: 40px;
}


.searchBox i {
    color: blue;
}

.searchBox:hover > .search-txt{
    width: 250px;
    padding: 0 20px;
}

.searchBox:hover > .search-btn {
    background:white;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
    text-align: center;
}

.container {
    width: 1050px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 15px;
}

.container .card .imgBx {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .card .imgBx img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content div {
    padding: 40px;
    color: black;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.2s;
}

.container .card:hover .content div{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

