body{
    text-align: center;
    background-color: burlywood;
}
.topo{
    color:black;
    background-color: yellowgreen;
    height: 40%;
}

center{
    color: black;
    font-size: 35px;
    font-weight: bold;
    
}

.img1{
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px;
}

.img2{
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px;
}

.rodape{
    background-color: yellowgreen;
}